body {
	font-family: sans-serif;
	font-size: 13px;
	line-height: 15px;
	background: #FFF url("../images/bggrey.jpg") repeat-x;
	margin:0;
	padding:0;
}

table tr td img {
	vertical-align: middle;
	padding-top: 1px;
	padding-left: 3px;
}

.mp3linknode td a {
	margin-left: 5px;
}

table tr td {
	margin:0;
	padding: 0;
	font-size: 13px;
	vertical-align: middle;
}


.lineheader
{
	font-weight: bold;
}

.lineheader a:link, .lineheader a:visited
{
	color: #777;
	font-weight: normal;
}

.lineheader a:hover
{
	color: #000;
	text-decoration: underline;
	font-weight: normal;
}

.line1
{
	background: #CCC;
}

.line2
{
	background: #EEE;
}


#tabs-5 a:link, #tabs-5 a:visited
{
	font-weight: bold;
}

#tabs-5 a:hover
{
	text-decoration: underline;
}

