body {
	font-family: sans-serif;
	font-size: 13px;
	line-height: 15px;
	background: #FFF url("images/bggrey.jpg") repeat-x;
}

table tr td img {
	vertical-align: middle;
	padding-top: 1px;
	padding-left: 3px;
}

a:link, a:hover, a:visited {
	text-decoration: none;
	color: #000;
}

.mp3linknode td a {
	margin-left: 5px;
}

h1 {
	font-size: 13px;
	padding-left:2px;
}

table tr td {
	margin:0;
	padding: 0;
	font-size: 13px;
	vertical-align: middle;
}

.library_table
{
	width: 100%;
	margin: 0;
	border-collapse: 0;
	border-spacing: 0;
	border: 1px solid #777;
	border-bottom: none;
}

.library_table tr td
{
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #777;
	padding-top: 3px;
	padding-bottom: 3px;
}

.lineheader
{
	font-weight: bold;
}

.lineheader a:link, .lineheader a:visited
{
	color: #777;
	font-weight: normal;
}

.lineheader a:hover
{
	color: #000;
	text-decoration: underline;
	font-weight: normal;
}

.line1
{
	background: #CCC;
}

.line2
{
	background: #EEE;
}

.controls_table
{	
	background: #EEE;
	margin-top: 15px;
	border: 1px solid #000;
	padding: 3px;
}

#searchdiv
{
	float: right;
	background: #EEE;
	margin-bottom: 10px;
	border: 1px solid #000;
	padding: 3px;
	padding-left: 8px;
	font-weight: bold;
}	